  main {
  width: 67%;
  height: 720px;
  margin-right: : 69%;
  float: right;
  text-align: center;
  border-style: inset;
  border-width: 9px;
  background-color: hsl(0,0%,70%);
 }
 aside {
  width: 30%;
  float: left;
  background-image: url('wall3.png');
  border-right height: 30px;
  border-style: inset;
  border-width: 9px;
  
 }
img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}
body {
  background-image: url('i.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}